@{
    ViewData["Title"] = "Home Page";
}

<div class="col-xl-9 col-lg-8">
    <div class="section3125">
        <h4 class="item_title">Live Streams</h4>
        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live" class="see150">See all</a>
        <div class="la5lo1">
            <div class="owl-carousel live_stream owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1583px;">
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/eli-natoli/15"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6bb51b544a.jpg"
                                             alt="">
                                        <h4>Eli Natoli</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/zoena/9"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6b809e0cc7.jpg"
                                             alt="">
                                        <h4>Zoena</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/bitss/41"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <h4>bitss</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/jassica-william/7"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6b4a486f0d.jpg"
                                             alt="">
                                        <h4>Jassica William</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/albert-dua/10"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6b8ab5c771.jpg"
                                             alt="">
                                        <h4>Albert Dua</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/joginder-singh/8"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6b737531a5.jpg"
                                             alt="">
                                        <h4>Joginder Singh</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/jaysen-batchelor/16"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6bc7513dd0.jpg"
                                             alt="">
                                        <h4>Jaysen Batchelor</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/nicholas/29"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <h4>nicholas</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/ridhima/11"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6b937b2f34.jpg"
                                             alt="">
                                        <h4>Ridhima</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 148.3px; margin-right: 10px;">
                            <div class="item">
                                <div class="stream_1">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/live/amritpal/12"
                                       class="stream_bg">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6b9a282037.jpg"
                                             alt="">
                                        <h4>Amritpal</h4>
                                        <p>live<span></span></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation"
                            class="owl-prev disabled">
                        <i class="uil uil-angle-left"></i>
                    </button><button type="button" role="presentation" class="owl-next">
                        <i class="uil uil-angle-right"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
    <div class="section3125 mt-50">
        <h4 class="item_title">Hot Courses</h4>
        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/featured"
           class="see150">See all</a>
        <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage" id="hot_course" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 2004px;">

                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation"
                            class="owl-prev disabled">
                        <i class="uil uil-angle-left"></i>
                    </button><button type="button" role="presentation" class="owl-next">
                        <i class="uil uil-angle-right"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
    <div class="section3125 mt-30">
        <h4 class="item_title">Newest Courses</h4>
        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/latest"
           class="see150">See all</a>
        <div class="la5lo1">
            <div class="owl-carousel featured_courses owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 4008px;">
                        <div class="owl-item active" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/test7iztdi7zk6rjdsjtsju6sxu6jzsx6urztxgf/786"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <div class="course-overlay">

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/test7iztdi7zk6rjdsjtsju6sxu6jzsx6urztxgf/786/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/786/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/786/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">41 views</span>
                                            <span class="vdt14">1 week ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/test7iztdi7zk6rjdsjtsju6sxu6jzsx6urztxgf/786"
                                           class="crse14s">test7iztdi7zk6rjdsjtsju6sxu6jzsx6urztxgf</a>
                                        <a href="#" class="crse-cate">
                                            Development |
                                            Python
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$5.00</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/786//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/sssssssssssssssssssssssssssssssssss/627"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <div class="course-overlay">

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/sssssssssssssssssssssssssssssssssss/627/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/627/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/627/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">258 views</span>
                                            <span class="vdt14">4 months ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/sssssssssssssssssssssssssssssssssss/627"
                                           class="crse14s">sssssssssssssssssssssssssssssssssss</a>
                                        <a href="#" class="crse-cate">
                                            Photography |
                                            JS
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$11.00</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/627//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/613"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/623afd237cccc.png"
                                             alt="">
                                        <div class="course-overlay">
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>5.0
                                            </div>

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/613/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/613/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/613/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">577 views</span>
                                            <span class="vdt14">5 months ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa/613"
                                           class="crse14s">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</a>
                                        <a href="#" class="crse-cate">
                                            Development |
                                            Full Stack Development
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/613//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/1111111111/589"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <div class="course-overlay">
                                            <div class="badge_seller">Bestseller</div>

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/1111111111/589/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/589/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/589/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">224 views</span>
                                            <span class="vdt14">5 months ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/1111111111/589"
                                           class="crse14s">1111111111</a>
                                        <a href="#" class="crse-cate">
                                            Development |
                                            Angular
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$1.00</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/589//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/abc_anxjkldllsjskskk/579"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <div class="course-overlay">

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/abc_anxjkldllsjskskk/579/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/579/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/579/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">410 views</span>
                                            <span class="vdt14">5 months ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/abc_anxjkldllsjskskk/579"
                                           class="crse14s">ABC_ANXJKLDLLSjskskk</a>
                                        <a href="#" class="crse-cate">
                                            Development |
                                            Full Stack Development
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/bitss/41">bitss</a>
                                            </p>
                                            <div class="prce142">$</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/579//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/tetsidodod;/578"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <div class="course-overlay">

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/tetsidodod;/578/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/578/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/578/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">108 views</span>
                                            <span class="vdt14">5 months ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/tetsidodod;/578"
                                           class="crse14s">tetsidodod;</a>
                                        <a href="#" class="crse-cate">
                                            Marketing |
                                            Digital Marketing
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$0.00</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/578//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/ajuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu/540"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <div class="course-overlay">

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/ajuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu/540/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/540/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/540/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">450 views</span>
                                            <span class="vdt14">6 months ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/ajuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu/540"
                                           class="crse14s">ajuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu</a>
                                        <a href="#" class="crse-cate">
                                            Development |
                                            Python
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$3.00</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/540//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/abcddddddddddddd/467"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <div class="course-overlay">
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>5.0
                                            </div>

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/abcddddddddddddd/467/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/467/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/467/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">334 views</span>
                                            <span class="vdt14">7 months ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/abcddddddddddddd/467"
                                           class="crse14s">abcddddddddddddd</a>
                                        <a href="#" class="crse-cate">
                                            Marketing |
                                            Digital Marketing
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$20.00</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/467//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/gegfgff-hghhg/189"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                             alt="">
                                        <div class="course-overlay">

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/gegfgff-hghhg/189/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/189/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/189/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">39 views</span>
                                            <span class="vdt14">1 year ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/gegfgff-hghhg/189"
                                           class="crse14s">GEGFGFF HGHHG</a>
                                        <a href="#" class="crse-cate">
                                            Marketing |
                                            AAk
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$2,200.00</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/189//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/geeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee/152"
                                       class="fcrse_img">
                                        <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60fdde5e43bc2.jpg"
                                             alt="">
                                        <div class="course-overlay">
                                            <div class="badge_seller">Bestseller</div>
                                            <div class="crse_reviews">
                                                <i class="uil uil-star"></i>3.0
                                            </div>

                                            <span class="play_btn1">
                                                <i class="uil uil-play"></i>
                                            </span>

                                            <div class="crse_timer">
                                                0 hours
                                            </div>
                                        </div>
                                    </a>
                                    <div class="fcrse_content">
                                        <div class="eps_dots more_dropdown">
                                            <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                            <div class="dropdown-content">
                                                <a target="popup"
                                                   onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/geeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee/152/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                    <span>
                                                        <i class="uil uil-share-alt"></i>Share
                                                    </span>
                                                </a>
                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/152/add">
                                                    <span>
                                                        <i class="uil uil-heart"></i>
                                                        Save
                                                    </span>
                                                </a>


                                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/152/add">
                                                    <span>
                                                        <i class="uil uil-windsock"></i>Report
                                                    </span>
                                                </a>

                                            </div>
                                        </div>
                                        <div class="vdtodt">
                                            <span class="vdt14">953 views</span>
                                            <span class="vdt14">1 year ago</span>
                                        </div>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/geeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee/152"
                                           class="crse14s">geeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee</a>
                                        <a href="#" class="crse-cate">
                                            Marketing |
                                            Digital Marketing
                                        </a>
                                        <div class="auth1lnkprce">
                                            <p class="cr1fot">
                                                By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jemmy/13">Jemmy</a>
                                            </p>
                                            <div class="prce142">$</div>
                                            <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/152//add';"
                                                    class="shrt-cart-btn" title="cart">
                                                <i class="uil uil-shopping-cart-alt"></i>
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation"
                            class="owl-prev disabled">
                        <i class="uil uil-angle-left"></i>
                    </button><button type="button" role="presentation" class="owl-next">
                        <i class="uil uil-angle-right"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
    <div class="section3126">
        <div class="row">
            <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                    <div class="value_icon">
                        <i class="uil uil-history"></i>
                    </div>
                    <div class="value_content">
                        <h4>Go at your own pace</h4>
                        <p>Enjoy lifetime access to courses on website</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                    <div class="value_icon">
                        <i class="uil uil-user-check"></i>
                    </div>
                    <div class="value_content">
                        <h4>Learn from industry experts</h4>
                        <p>Select from top instructors around the world</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                    <div class="value_icon">
                        <i class="uil uil-play-circle"></i>
                    </div>
                    <div class="value_content">
                        <h4>Find video courses on almost any topic</h4>
                        <p>Build your library for your career and personal growth</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-6">
                <div class="value_props">
                    <div class="value_icon">
                        <i class="uil uil-presentation-play"></i>
                    </div>
                    <div class="value_content">
                        <h4>100,000 online courses</h4>
                        <p>Explore a variety of fresh topics</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section3125 mt-50">
        <h4 class="item_title">Popular Instructors</h4>
        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors" class="see150">
            See
            all
        </a>
        <div class="la5lo1">
            <div class="owl-carousel top_instrutors owl-theme owl-loaded owl-drag">

                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1603px;">
                        <div class="owl-item active" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <div class="tutor_img">
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jaysen-batchelor/16">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6bc7513dd0.jpg"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="tutor_content_dt">
                                        <div class="tutor150">
                                            <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jaysen-batchelor/16"
                                               class="tutor_name">Jaysen Batchelor</a>
                                        </div>
                                        <div class="tutor_cate">Backend Developer</div>
                                        <ul class="tutor_social_links">
                                            <li>
                                                <a href="http://facebook.com/https://www.facebook.com/https://www.facebook.com/"
                                                   class="fb"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://twitter.com/https://twitter.com/"
                                                   class="tw"><i class="fab fa-twitter"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/https://www.linkedin.com/"
                                                   class="ln">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/https://www.youtube.com/"
                                                   class="yu"><i class="fab fa-youtube"></i></a>
                                            </li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">1 Students</span>
                                            <span class="vdt15">1 Courses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <div class="tutor_img">
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/instructor/2">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d32f92c4e69.jfif"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="tutor_content_dt">
                                        <div class="tutor150">
                                            <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/instructor/2"
                                               class="tutor_name">instructor</a>
                                            <div class="mef78" title="Verify">
                                                <i class="uil uil-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="tutor_cate">
                                            UI / UX Designer and Web Developer
                                        </div>
                                        <ul class="tutor_social_links">
                                            <li>
                                                <a href="http://facebook.com/https://www.facebook.com/"
                                                   class="fb"><i class="fab fa-facebook-f"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://twitter.com/" class="tw">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/" class="ln">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/" class="yu">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">0 Students</span>
                                            <span class="vdt15">0 Courses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <div class="tutor_img">
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/john-deo/17">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="tutor_content_dt">
                                        <div class="tutor150">
                                            <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/john-deo/17"
                                               class="tutor_name">John Deo</a>
                                        </div>
                                        <div class="tutor_cate"></div>
                                        <ul class="tutor_social_links">
                                            <li>
                                                <a href="http://facebook.com/" class="fb">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://twitter.com/" class="tw">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/" class="ln">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/" class="yu">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">0 Students</span>
                                            <span class="vdt15">0 Courses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                            <div class="item">
                                <div class="fcrse_1 mb-20">
                                    <div class="tutor_img">
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/raziya-blish/3">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                                                 alt="">
                                        </a>
                                    </div>
                                    <div class="tutor_content_dt">
                                        <div class="tutor150">
                                            <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/raziya-blish/3"
                                               class="tutor_name">Raziya Blish</a>
                                            <div class="mef78" title="Verify">
                                                <i class="uil uil-check-circle"></i>
                                            </div>
                                        </div>
                                        <div class="tutor_cate"></div>
                                        <ul class="tutor_social_links">
                                            <li>
                                                <a href="http://facebook.com/" class="fb">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://twitter.com/" class="tw">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.linkedin.com/" class="ln">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/" class="yu">
                                                    <i class="fab fa-youtube"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="tut1250">
                                            <span class="vdt15">0 Students</span>
                                            <span class="vdt15">0 Courses</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation"
                            class="owl-prev disabled">
                        <i class="uil uil-angle-left"></i>
                    </button><button type="button" role="presentation" class="owl-next">
                        <i class="uil uil-angle-right"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>
<div class="col-xl-3 col-lg-4">
    <div class="right_side">
        <div class="fcrse_2 mb-30">
            <div class="tutor_img">
                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jon-deo/1">
                    <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png"
                         alt="">
                </a>
            </div>
            <div class="tutor_content_dt">
                <div class="tutor150">
                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jon-deo/1"
                       class="tutor_name">Jon Deo</a>
                </div>
                <div class="tutor_cate"></div>
                <ul class="tutor_social_links">
                    <li>
                        <a href="http://facebook.com/" class="fb">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://twitter.com/" class="tw"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://www.linkedin.com/" class="ln">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.youtube.com/" class="yu">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <div class="tut1250">
                    <span class="vdt15">0 Students</span>
                    <span class="vdt15">0 Courses</span>
                </div>
                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jon-deo/1"
                   class="prfle12link">Go To Profile</a>
            </div>
        </div>
        <div class="get1452">
            <h4>Become an Instructor</h4>
            <p>
                Top instructors from around the world teach millions of students on Cursus. We
                provide the tools and
                skills to teach what you love.
            </p>
            <button class="Get_btn"
                    onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/instructor/register';">
                Start
                Teaching
            </button>
        </div>
        <div class="fcrse_3">
            <div class="cater_ttle">
                <h4>Live Streaming</h4>
            </div>
            <div class="live_text">
                <div class="live_icon"><i class="uil uil-kayak"></i></div>
                <div class="live-content">
                    <p>Set up your channel and stream live to your students</p>
                    <button class="live_link"
                            onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/instructor/live-stream';">
                        Get
                        Started
                    </button>
                    <span class="livinfo">Info : This feature only for Instructors.</span>
                </div>
            </div>
        </div>

        <div class="fcrse_3">
            <div class="cater_ttle">
                <h4>Top Categories</h4>
            </div>
            <ul class="allcate15">

                <li>
                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/categories/photography/1"
                       class="ct_item">Photography</a>
                </li>


                <li>
                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/categories/marketing/2"
                       class="ct_item">Marketing</a>
                </li>


                <li>
                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/categories/human-development/14"
                       class="ct_item">Human Development</a>
                </li>


                <li>
                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/categories/aaaaa/25"
                       class="ct_item">aaaaa</a>
                </li>


                <li>
                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/categories/development/3"
                       class="ct_item">Development</a>
                </li>


            </ul>
        </div>
        <div class="strttech120">
            <h4>Become an Instructor</h4>
            <p>
                Top instructors from around the world teach millions of students on Cursus. We
                provide the tools and
                skills to teach what you love.
            </p>
            <button class="Get_btn"
                    onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/instructor/register';">
                Start
                Teaching
            </button>
        </div>
    </div>
</div>
<div class="col-xl-12 col-lg-12">
    <div class="section3125 mt-30">
        <h4 class="item_title">What Our Student Have Today</h4>
        <div class="la5lo1">
            <div class="owl-carousel Student_says owl-theme owl-loaded owl-drag">
                <div class="owl-stage-outer">
                    <div class="owl-stage"
                         style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 3607px;">
                        <div class="owl-item active" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            this course is so bad
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            dhaasdsafdsagdsagasgsdg123
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item active" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            ddssss232edffddfwdwefwfwef
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            Nice
                                            coursefdffffffffffffffffffffffffffffffffffffff..qdasdasd
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            Terrific course - Bravoio
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            good and it was so easy to grab
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            bueno gosteig gfgfgfgf
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            fgfgfgfgf fgfhgf fhgfhg fhfghg
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            Hola xD
                                            "Donec ac ex eu arcu euismod feugiat. In venenatis
                                            bibendum nisi, in placerat eros ultricies vitae.
                                            Praesent pellentesque blandit scelerisque. Suspendisse
                                            potenti."
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-item" style="width: 330.667px; margin-right: 30px;">
                            <div class="item">
                                <div class="fcrse_4 mb-20">
                                    <div class="say_content">
                                        <p>
                                            test test test test test test test test test test test
                                            test test
                                        </p>
                                    </div>
                                    <div class="st_group">
                                        <div class="stud_img">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                 alt="">
                                        </div>
                                        <h4>student student</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-nav">
                    <button type="button" role="presentation"
                            class="owl-prev disabled">
                        <i class="uil uil-angle-left"></i>
                    </button><button type="button" role="presentation" class="owl-next">
                        <i class="uil uil-angle-right"></i>
                    </button>
                </div>
                <div class="owl-dots disabled"></div>
            </div>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>


    $.ajax({
        type: 'GET',
        url: 'http://localhost:57678/Course/Random',
        success: function (data) {
            $.each(data, function (key, value) {
                $('#hot_course').append(
                    `<div class="owl-item" style="width: 380.75px; margin-right: 20px;">
                        <div class="item">
                            <div class="fcrse_1 mb-20">
                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/the-complete-javascript-course-2021-:-build-real-project/2"
                                    class="fcrse_img">
                                    <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6c503be16c.jpg"
                                            alt="">
                                    <div class="course-overlay">
                                        <div class="badge_seller">Bestseller</div>
                                        <div class="crse_reviews">
                                            <i class="uil uil-star"></i>3.0
                                        </div>

                                        <span class="play_btn1">
                                            <i class="uil uil-play"></i>
                                        </span>

                                        <div class="crse_timer">
                                            0 hours
                                        </div>
                                    </div>
                                </a>
                                <div class="fcrse_content">
                                    <div class="eps_dots more_dropdown">
                                        <a href="#"><i class="uil uil-ellipsis-v"></i></a>
                                        <div class="dropdown-content">
                                            <a target="popup"
                                                onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/the-complete-javascript-course-2021-:-build-real-project/2/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;">
                                                <span>
                                                    <i class="uil uil-share-alt"></i>Share
                                                </span>
                                            </a>
                                            <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/2/add">
                                                <span onclick="SaveCourse()">
                                                    <i class="uil uil-heart"></i>
                                                    Save
                                                </span>
                                            </a>


                                            <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/2/add">
                                                <span>
                                                    <i class="uil uil-windsock"></i>Report
                                                </span>
                                            </a>

                                        </div>
                                    </div>
                                    <div class="vdtodt">
                                        <span class="vdt14">3.9K views</span>
                                        <span class="vdt14">1 year ago</span>
                                    </div>
                                    <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/courses/the-complete-javascript-course-2021-:-build-real-project/2"
                                        class="crse14s">
                                        The Complete JavaScript Course 2021 :
                                        Build Real Project
                                    </a>
                                    <a href="#" class="crse-cate">
                                        Development |
                                        Full Stack Development
                                    </a>
                                    <div class="auth1lnkprce">
                                        <p class="cr1fot">
                                            By <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/instructors/jassica-william/7">
                                                Jassica
                                                William
                                            </a>/
                                        </p>
                                        <div class="prce142">$18.00</div>
                                        <button onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/cart/2//add';"
                                                class="shrt-cart-btn" title="cart">
                                            <i class="uil uil-shopping-cart-alt"></i>
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>`
                );
            });
        }
    });

    function SaveCourse(id) {
        $.ajax({
            url: "http://localhost:57678/AddCategory",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'name': name, 'status': status }),
            success: function (data) {
                alert("Created successfully")
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }
</script>
