
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>Courses</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Courses</a></div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">

            <div class="col-12 col-md-12 col-lg-12 ">
                <div class="card">
                    <div class="card-header">
                        <h4>Courses List</h4>

                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div id="datatable_wrapper"
                                 class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <div class="dt--top-section">
                                    <div class="row">
                                        <div class="d-flex justify-content-md-start justify-content-center">
                                            <div class="dt-buttons">
                                                <button class="dt-button buttons-copy buttons-html5 btn btn-sm"
                                                        tabindex="0"
                                                        aria-controls="datatable">
                                                    <span>Copy</span>
                                                </button>
                                                <button class="dt-button buttons-csv buttons-html5 btn btn-sm"
                                                        tabindex="0"
                                                        aria-controls="datatable">
                                                    <span>CSV</span>
                                                </button>
                                                <button class="dt-button buttons-excel buttons-html5 btn btn-sm"
                                                        tabindex="0"
                                                        aria-controls="datatable">
                                                    <span>Excel</span>
                                                </button>
                                                <button class="dt-button buttons-print btn btn-sm"
                                                        tabindex="0"
                                                        aria-controls="datatable">
                                                    <span>Print</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-md-end justify-content-center mt-md-0 mt-3">
                                            <div id="datatable_filter" class="dataTables_filter">
                                                <label>
                                                    Search:<input type="search" class="form-control"
                                                                  placeholder="Search..."
                                                                  aria-controls="datatable">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-container">
                                    <ul class="table-list">
                                        <li class="body-table table-1">
                                            <span>#</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-1">
                                            <span>Name</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-1">
                                            <span>Amount</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-1">
                                            <span>Remark</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-1">
                                            <span>Status</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-2">
                                            <span>Last Updated</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-2">
                                            <span>Action</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="table-list" id="list_payout">
                                        
                                    </ul>
                                    <ul class="pageding">
                                        <li>
                                            <div class="div-show-number">Showing page 1 of 14</div>

                                        </li>
                                        <li>
                                            <div class="div-page-number">
                                                <ul class="ul-page-number">
                                                    <li class="page-number">
                                                        <a>
                                                            <i class="fa-solid fa-left-long"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a class="page-first">1</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>2</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>3</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>4</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>
                                                            <i class="fa-solid fa-right-long"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/Payout",
        success: function (data) {
            $.each(data, function (key, value) {
                var remark
                if (value.remark == null) {
                    remark = '-';
                } else {
                    remark = value.remark;
                }
                $('#list_payout').append(
                    `<li class="body-table table-1">
                        <span>1</span>

                    </li>
                    <li class="body-table table-1">
                        <span>${value.name}</span>
                    </li>
                    <li class="body-table table-1">
                        <span>${value.amount}</span>
                    </li>
                    <li class="body-table table-1">
                        <span>${remark}</span>
                    </li>
                    <li class="body-table table-1">
                        <span>${value.status}</span>
                    </li>
                    <li class="body-table table-2">
                        <span>${value.update}</span>
                    </li>

                    <li class="body-table table-2">
                        <input type="text" width="100" id="ipremark${value.id}" placeholder="Remake">
                        <Select id="select_status${value.id}">
                            <option value="paid">Paid</option>
                            <option value="rejected">Rejected</option>
                        </Select>
                        <button type="button" onclick="confirm_payout('${value.id}')" class="btn-block">Submit</button>

                    </li>`
                );
            });
        },
    });

    function confirm_payout(id) {
        var remark = $("#ipremark"+id).val();
        var status_payment = $("#select_status"+id).val();
        $.ajax({
            url: "http://localhost:57678/Payout",
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'id': id, 'remark': remark, 'status': status_payment }),
            success: function (data) {
                location.reload();
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }

</script>
