
@{
    ViewData["Title"] = "CourseDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal vd_mdl fade" id="videoModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-body" id="video_course">

            </div>

        </div>
    </div>
</div>
<div class="modal vd_mdl fade" id="let-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">

                <h4 class="modal-title" id="let-header">Modal Header</h4>
                <button type="button" class=" btn-danger" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="video-div">

                    <video id="let-video" class="video-js vjs-theme-forest" controls preload="auto"
                           poster="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png" data-setup="{}">
                        <source src="http://127.0.0.1:8000/upload/video/60a78251eb7ca.mp4" type="video/mp4" />
                    </video>
                </div>

                <div class="p-4">
                    <h4>Detail</h4>
                    <span id="let-detail">

                    </span>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="_215b01">
    <div class="container-fluid" id="detail_course">
         
    </div>
</div>
<div class="_215b15 _byt1458">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="user_dt5">
                    <div class="user_dt_left">
                        <div class="live_user_dt">
                            <div class="user_img5">
                                <a href="#"><img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d6ba317e2cf.jpg" alt=""></a>
                            </div>
                            <div class="user_cntnt">
                                <a href="#" class="_df7852">Jemmy</a>
                                <button class="subscribe-btn"
                                        onclick="window.location.href = 'https://saasmonks.in/App-Demo/Cursus-33214/public/subscription/13/add';">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="user_dt_right">
                        <ul>
                            <li>
                                <a class="lkcm152">
                                    <i class="uil uil-eye"></i><span>504</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/like/540/0" class="lkcm152">
                                    <i class="uil uil-thumbs-up"></i>
                                    <span>-1</span>
                                </a>

                            </li>
                            <li>
                                <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/like/540/1" class="lkcm152">
                                    <i class="uil uil-thumbs-down"></i>
                                    <span>1</span>
                                </a>

                            </li>
                            <li>
                                <a onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/courses/ajuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuu/540/share','popup','width=600,height=600,scrollbars=no,resizable=no'); return false;"
                                   class="lkcm152">
                                    <i class="uil uil-share-alt"></i><span>21</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="course_tabs">
                    <nav>
                        <div class="nav nav-tabs tab_crse justify-content-center" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-about-tab" data-toggle="tab" href="#nav-about"
                               role="tab" aria-selected="true">About</a>
                            <a class="nav-item nav-link" id="nav-courses-tab" data-toggle="tab" href="#nav-courses"
                               role="tab" aria-selected="false">Courses Content</a>
                            <a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews"
                               role="tab" aria-selected="false">Reviews</a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="_215b17">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="course_tab_content">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-about" role="tabpanel">
                            <div class="_htg451">
                                <p>ammmmmmmmmmmmmmmmmmmmmmmmmmmmm</p>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-courses" role="tabpanel">
                            <div class="crse_content">
                                <h3>Course content</h3>
                                <div class="_112456">
                                    <ul class="accordion-expand-holder">
                                        <li><span class="accordion-expand-all _d1452">Expand all</span></li>
                                        <li>
                                            <span class="_fgr123"> 0 lectures</span>
                                        </li>
                                        <li><span class="_fgr123">    </span></li>
                                    </ul>
                                </div>
                                <div id="accordion" class="ui-accordion ui-widget ui-helper-reset">


                                    <a href="javascript:void(0)"
                                       class="accordion-header ui-accordion-header ui-helper-reset ui-state-default ui-accordion-icons ui-corner-all">
                                        <div class="section-header-left">
                                            <span class="section-title-wrapper">
                                                <i class='uil uil-presentation-play crse_icon'></i>
                                                <span class="section-title-text">ajuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuub</span>
                                            </span>
                                        </div>
                                        <div class="section-header-right">
                                            <span class="num-items-in-section">
                                                0
                                                lectures
                                            </span>
                                            <span class="section-header-length"></span>
                                        </div>
                                    </a>
                                    <div class="ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom">
                                    </div>
                                </div>
                                <a class="btn1458" href="#">1 Sections</a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-reviews" role="tabpanel">
                            <div class="student_reviews">
                                <div class="row">
                                    <div class="col-lg-5">

                                        <div class="reviews_left">
                                            <h3>Your Feedback</h3>
                                            <div class="total_rating">

                                                <div class="_rate001">Course Rating</div>
                                                <div class='rating-stars text-center'>
                                                    <ul id='stars'>
                                                        <li class='star hover selected'
                                                            title='Poor' data-value='1'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                        <li class='star hover selected'
                                                            title='Fair' data-value='2'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                        <li class='star hover selected'
                                                            title='Good' data-value='3'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                        <li class='star hover selected'
                                                            title='Excellent' data-value='4'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                        <li class='star hover selected'
                                                            title='WOW!!!' data-value='5'>
                                                            <i class='fa fa-star fa-fw'></i>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <form action="https://saasmonks.in/App-Demo/Cursus-33214/public/ratting" method="post">
                                                <input type="hidden" name="_token" value="CbrHLu6m6VKtskAfUpyNxgk8VNNyvD4QtOFNu8Am">                                                <div class="basic_form">

                                                    <input type="hidden" name="course_id" value="540">
                                                    <input type="hidden" name="star"
                                                           value="5" id="rateinput">
                                                    <div class="ui search focus mt-3">
                                                        <div class="ui left icon input swdh11 swdh19">

                                                            <textarea id="review-msg" name="msg"
                                                                      class="prompt srch_explore" cols="30" rows="10"
                                                                      placeholder="Your feedback." required
                                                                      minlength="20">Oke , tuyeetj voi Oke , tuyeetj voi Oke , tuyeetj voi Oke , tuyeetj voi</textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button class="btn_adcart mt-3 float-right" type="submit">
                                                    Give
                                                    Review
                                                </button>
                                            </form>
                                        </div>
                                        <div class="reviews_left mt-2">
                                            <h3>Student Feedback</h3>
                                            <div class="total_rating">
                                                <div class="_rate001">5.0</div>
                                                <div class="rating-box">

                                                    <span class="rating-star full-star">
                                                    </span>
                                                    <span class="rating-star full-star">
                                                    </span>
                                                    <span class="rating-star full-star">
                                                    </span>
                                                    <span class="rating-star full-star">
                                                    </span>
                                                    <span class="rating-star full-star">
                                                    </span>
                                                </div>
                                                <div class="_rate002">Course Rating</div>
                                            </div>
                                            <div class="_rate003">
                                                <div class="_rate004">
                                                    <div class="progress progress1">
                                                        <div class="progress-bar " role="progressbar"
                                                             aria-valuenow="100" aria-valuemin="0"
                                                             aria-valuemax="100" style="width:100%">
                                                        </div>
                                                    </div>
                                                    <div class="rating-box">
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                    </div>
                                                    <div class="_rate002">100%</div>
                                                </div>
                                                <div class="_rate004">
                                                    <div class="progress progress1">
                                                        <div class="progress-bar " role="progressbar"
                                                             aria-valuenow="0" aria-valuemin="0"
                                                             aria-valuemax="100" style="width:0%">
                                                        </div>
                                                    </div>
                                                    <div class="rating-box">
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                    </div>
                                                    <div class="_rate002">0%</div>
                                                </div>
                                                <div class="_rate004">
                                                    <div class="progress progress1">
                                                        <div class="progress-bar " role="progressbar"
                                                             aria-valuenow="0" aria-valuemin="0"
                                                             aria-valuemax="100" style="width:0%">
                                                        </div>
                                                    </div>
                                                    <div class="rating-box">
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                    </div>
                                                    <div class="_rate002">0%</div>
                                                </div>
                                                <div class="_rate004">
                                                    <div class="progress progress1">
                                                        <div class="progress-bar " role="progressbar"
                                                             aria-valuenow="0" aria-valuemin="0"
                                                             aria-valuemax="100" style="width:0%">
                                                        </div>
                                                    </div>
                                                    <div class="rating-box">
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                    </div>
                                                    <div class="_rate002">0%</div>
                                                </div>
                                                <div class="_rate004">
                                                    <div class="progress progress1">
                                                        <div class="progress-bar" role="progressbar"
                                                             aria-valuenow="0" aria-valuemin="0"
                                                             aria-valuemax="100" style="width:0%">
                                                        </div>
                                                    </div>
                                                    <div class="rating-box">
                                                        <span class="rating-star full-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                        <span class="rating-star empty-star"></span>
                                                    </div>
                                                    <div class="_rate002">0%</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-7">
                                        <div class="review_right">
                                            <div class="review_right_heading">
                                                <h3>Reviews</h3>
                                                <div class="review_search">
                                                    <input class="rv_srch" type="text"
                                                           placeholder="Search reviews...">
                                                    <button class="rvsrch_btn"><i class='uil uil-search'></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="review_all120">
                                            <div class="review_item">
                                                <div class="review_usr_dt">
                                                    <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/upload/image/60d31155a3e8d.png"
                                                         alt="">
                                                    <div class="rv1458">
                                                        <h4 class="tutor_name1">
                                                            student student
                                                        </h4>
                                                        <span class="time_145">1 week ago</span>
                                                    </div>
                                                </div>
                                                <div class="rating-box mt-20">
                                                    <span class="rating-star full-star">
                                                    </span>
                                                    <span class="rating-star full-star">
                                                    </span>
                                                    <span class="rating-star full-star">
                                                    </span>
                                                    <span class="rating-star full-star">
                                                    </span>
                                                    <span class="rating-star full-star">
                                                    </span>

                                                </div>
                                                <p class="rvds10">Oke , tuyeetj voi Oke , tuyeetj voi Oke , tuyeetj voi Oke , tuyeetj voi</p>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: 'http://localhost:57678/Course/@ViewBag.courseId',
        success: function (value) {

            $('#detail_course').append(
                `<div class="row">
                    <div class="col-lg-12">
                        <div class="section3125">
                            <div class="row justify-content-center">
                                <div class="col-xl-4 col-lg-5 col-md-6">
                                    <div class="preview_video">
                                        <a href="#" class="fcrse_img" data-toggle="modal" data-target="#videoModal">
                                            <img src="https://saasmonks.in/App-Demo/Cursus-33214/public/default.png" alt="">
                                            <div class="course-overlay">
                                                <div class="crse_reviews bg-danger">
                                                    <i class="uil uil-pricetag-alt"></i>20%
                                                </div>
                                                <span class="play_btn1"><i class="uil uil-play"></i></span>
                                                <span class="_215b02">Preview this course</span>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="_215b10">

                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/save/540/add" class="_215b11">
                                            <span><i class="uil uil-heart"></i></span>Save
                                        </a>
                                        <a href="https://saasmonks.in/App-Demo/Cursus-33214/public/report/540/add" class="_215b12">
                                            <span><i class="uil uil-windsock"></i></span>Report abuse
                                        </a>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-lg-7 col-md-6">
                                    <div class="_215b03">
                                        <h2>${value.title}</h2>
                                        <span class="_215b04">${value.description}</span>
                                    </div>
                                    <div class="_215b05">
                                        <div class="crse_reviews mr-2">
                                            <i class="uil uil-star"></i>5.0
                                        </div>
                                        (1 ratings)
                                    </div>
                                    <div class="_215b05">
                                        1 students enrolled
                                    </div>
                                    <div class="_215b06">
                                        <div class="_215b07">
                                            <span><i class='uil uil-comment'></i></span>
                                            Spanish
                                        </div>

                                    </div>
                                    <div class="_215b05">
                                        Last updated 09/2022
                                    </div>
                                    <ul class="_215b31">
                                        <li>
                                            <button onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/', '_blank');"
                                                    class="btn_buy">
                                                Watch Now
                                            </button>
                                            <button onclick="window.open('https://saasmonks.in/App-Demo/Cursus-33214/public/', '_blank');"
                                                    class="btn_buy">
                                                Buy Now
                                            </button>
                                        </li>
                                    </ul>
                                    <div class="_215fgt1">
                                        30-Day Money-Back Guarantee
                                    </div>
                                    <div class="_215fgt1 text-danger">
                                        Alo till 10 Oct,2022
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>`
            );
            $('#video_course').append(
                `<video id="my-video" class="video-js vjs-theme-forest" controls preload="auto"
                       poster=""${value.image}" data-setup="{}" width="798" height="344">
                    <source src="${value.image}" type="video/mp4" />
                </video>`
            );
        }
    });
</script>

