
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_InstructorLayout.cshtml";
}

<div class="container-fluid" id="create_course">
    <div class="row" id="course_form">
        <div class="col-md-8">
            <div class="my_courses_tabs">
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-my-courses" role="tabpanel">
                        <div class="table-responsive mt-30">
                            <table class="table ucp-table">
                                <thead class="thead-s">
                                    <tr>
                                        <th class="text-center" scope="col">#</th>
                                        <th class="text-center" scope="col">Title</th>
                                        <th class="text-center" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody id="list_answer">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top_countries col-md-4">
            <div class="top_countries_title">
                <h2>Add Answer</h2>
            </div>
            <div class="payout_content">
                <div class="explore_search">
                    <div class="ui search focus">
                        <label>Title</label>
                        <div class="ui input swdh11 swdh15" id="input_Qid">

                            <input class="prompt srch_explore" id="answer_title" type="text" placeholder="Enter Title" name="amount" required="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="payout_content">
                <button type="submit" onclick="create_answer()" class="payout__btn">Add Answer</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/Course/Quizz/@ViewBag.sectionId",
        success: function (data) {

            $.each(data, function (key, value) {
                $.each(value.question, function (key, value1) {
                    $.each(value1.answer, function (key, value2) {
                        $('#input_Qid').append(
                            `<input id="ques_id" type="hidden" value="${value2.questionId}">`
                        );
                        $('#list_answer').append(
                            `
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">${value2.title}</td>
                                <td class="text-center d-flex justify-content-center">
                                    <button class="create_btn_dash" onclick="delete_lecture_course('${value2.id}')">Delete</button>
                                </td>
                            </tr>`
                        );
                    });
                });
            });
        },
    });

    function create_answer() {
        var title = $("#answer_title").val();
        var id = $("#ques_id").val();
        $.ajax({
            url: "http://localhost:57678/Courses/Answer",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'id': id, 'answer': title }),
            success: function (data) {
                location.reload();
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }

    //function delete_lecture_course(id) {
    //    $.ajax({
    //        url: "http://localhost:57678/Course/Lecture/Delete/" + id,
    //        type: "put",
    //        contentType: "application/json",
    //        success: function () {
    //            location.reload();
    //        }
    //    })
    //}


</script>



