
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/admin-style.css">
    <link rel="stylesheet" href="~/css/test.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
    <div id="app">
        <section class="section">
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 col-sm-8 offset-sm-2 offset-md-3  offset-lg-3 col-xl-4 offset-xl-4">
                        <div class="login-brand">
                            <i class="fa-solid fa-book-open-reader text-primary auth-icon"></i>

                        </div>
                        <div class="card card-primary">
                            <div class="card-header">
                                <h4>Sign Up and Start Learning!</h4>
                            </div>

                            <div class="card-body">

                                <input type="hidden" name="_token" value="WFs7ZeqCjSjvMXYE3LxzneuT0xkeVAOpfUwj49yB">
                                <div class="form-group">
                                    <label for="email">Username</label>
                                    <input aria-describedby="emailHelpBlock" id="username" type="text"
                                           class="form-control" name="username" placeholder="Username" tabindex="1"
                                           autofocus>
                                    <div class="invalid-feedback">

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="email">First Name</label>
                                    <input aria-describedby="emailHelpBlock" id="firstName" type="text"
                                           class="form-control" name="firstName" placeholder="Your first name" tabindex="1"
                                           autofocus>
                                    <div class="invalid-feedback">

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="email">Last Name</label>
                                    <input aria-describedby="emailHelpBlock" id="lastName" type="text"
                                           class="form-control" name="lastName" placeholder="Your last name" tabindex="1"
                                           autofocus>
                                    <div class="invalid-feedback">

                                    </div>

                                </div>

                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input aria-describedby="emailHelpBlock" id="email" type="email"
                                           class="form-control" name="email" placeholder="Email" tabindex="1"
                                           autofocus>
                                    <div class="invalid-feedback">

                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">Password</label>
                                        <div class="float-right">

                                        </div>
                                    </div>
                                    <input aria-describedby="passwordHelpBlock" id="password" type="password"
                                           placeholder="Password" class="form-control" name="password" tabindex="2">
                                    <div class="invalid-feedback">

                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">Confirm Password</label>
                                        <div class="float-right">

                                        </div>
                                    </div>
                                    <input aria-describedby="passwordHelpBlock" id="cfpassword" type="password"
                                           placeholder="Confirm Password" class="form-control" name="cfpassword" tabindex="2">
                                    <div class="invalid-feedback">

                                    </div>

                                </div>

                                <div class="form-group">
                                    <button onclick="signup()" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        SignUp
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>


    <script type="text/javascript">
        function signup() {
            var email = $("#email").val();
            var pass = $("#password").val();
            var username = $("#username").val();
            var firstName = $("#firstName").val();
            var lastName = $("#lastName").val();
            var confirmPassword = $("#cfpassword").val();

            $.ajax({
                url: "http://localhost:57678/Users/SignUp",
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify({ 'Email': email, 'Password': pass, 'UserName': username, 'FirstName': firstName, 'LastName': lastName, 'ConfirmPassword': confirmPassword }),
                success: function (data) {
                    console.log(data)
                    window.location.href = '/Home/Index';
                },
                error: function (e) {
                    alert("fail")
                    console.log('Error in Operation');
                }
            });
        }
    </script>
</body>

</html>


