
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="section">
    <div class="section-header">
        <h1>Categories</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Home</a></div>
            <div class="breadcrumb-item"><a href="#">Categories</a></div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">

            <div class="col-12 col-md-8 col-lg-8 ">
                <div class="card">
                    <div class="card-header">
                        <h4>Categories List</h4>

                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <div id="datatable_wrapper"
                                 class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                                <div class="dt--top-section">
                                    <div class="row">
                                        <div class="d-flex justify-content-md-start justify-content-center">
                                            <div class="dt-buttons">
                                                <button class="dt-button buttons-copy buttons-html5 btn btn-sm"
                                                        tabindex="0"
                                                        aria-controls="datatable">
                                                    <span>Copy</span>
                                                </button>
                                                <button class="dt-button buttons-csv buttons-html5 btn btn-sm"
                                                        tabindex="0"
                                                        aria-controls="datatable">
                                                    <span>CSV</span>
                                                </button>
                                                <button class="dt-button buttons-excel buttons-html5 btn btn-sm"
                                                        tabindex="0"
                                                        aria-controls="datatable">
                                                    <span>Excel</span>
                                                </button>
                                                <button class="dt-button buttons-print btn btn-sm"
                                                        tabindex="0"
                                                        aria-controls="datatable">
                                                    <span>Print</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-md-end justify-content-center mt-md-0 mt-3">
                                            <div id="datatable_filter" class="dataTables_filter">
                                                <label>
                                                    Search:<input type="search" class="form-control"
                                                                  placeholder="Search..."
                                                                  aria-controls="datatable">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-container">
                                    <ul class="table-list">
                                        <li class="body-table table-2">
                                            <span>#</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-2">
                                            <span>Name</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-2">
                                            <span>Status</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                        <li class="body-table table-2">
                                            <span>Action</span>
                                            <span class="sort-fill">
                                                <i class="fa-solid fa-angle-up hover-sort-up"></i>
                                                <i class="fa-solid fa-angle-down hover-sort-down"></i>
                                            </span>
                                        </li>
                                    </ul>
                                    <ul class="table-list" id="list_lang">
                                        
                                    </ul>
                                    <ul class="pageding">
                                        <li>
                                            <div class="div-show-number">Showing page 1 of 14</div>

                                        </li>
                                        <li>
                                            <div class="div-page-number">
                                                <ul class="ul-page-number">
                                                    <li class="page-number">
                                                        <a>
                                                            <i class="fa-solid fa-left-long"></i>
                                                        </a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a class="page-first">1</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>2</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>3</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>4</a>
                                                    </li>
                                                    <li class="page-number">
                                                        <a>
                                                            <i class="fa-solid fa-right-long"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4 " id="create_lang">
                <div class="card" id="lang_form">
                    <div class="card-header">
                        <h4>Add New Language</h4>
                    </div>
                    <input type="hidden" name="_token"
                            value="Yp9sxRJTsEf2i1XRvuWcGhTaEWLKpgsR2EZwHKQK">
                    <div class="card-body">
                        <div class="row ">
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="name" class="form-control " id="lang_name" required=""
                                            maxlength="50" value="">
                                </div>
                            </div>
                            <div class="col-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label>Status</label>
                                    <Select id="lang_status">
                                        <option value="true">Active</option>
                                        <option value="false">De-Active</option>
                                    </Select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button class="btn btn-primary" onclick="create_lang()" type="submit">Submit</button>
                    </div>
                </div>
            </div>

            @*<div class="col-12 col-md-4 col-lg-4 " id="edit-role">
                    <div class="card">
                        <div class="card-header">
                            <h4>Edit User</h4>
                        </div>
                        <form action="https://saasmonks.in/App-Demo/Cursus-33214/public/admin/role"
                              method="POST" enctype="multipart/form-data">

                            <input type="hidden" name="_token"
                                   value="Yp9sxRJTsEf2i1XRvuWcGhTaEWLKpgsR2EZwHKQK">
                            <div class="card-body">
                                <div class="row ">
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Name</label>
                                            <input type="text" name="name" class="form-control " required=""
                                                   maxlength="50" value="">
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label>Status</label>
                                            <Select>
                                                <option value="active">active</option>
                                                <option value="de-active">De-Active</option>
                                            </Select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-right">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>*@
        </div>
    </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    $.ajax({
        type: 'GET',
        url: "http://localhost:57678/Languages",
        success: function (data) {
            $.each(data, function (key, value) {
                var status
                if (value.status == 'true') {
                    status = 'Active'
                } else {
                    status = 'De-Active'
                }

                $('#list_lang').append(
                    `<li class="body-table table-2">
                        <span>1</span>
                    </li>
                    <li class="body-table table-2">
                        <span>${value.name}</span>
                    </li>
                    <li class="body-table table-2 table-status">
                        <span class="body-status">${status}</span>
                    </li>
                    <li class="body-table table-2">
                        <span onclick="edit_lang_form('${value.id}')"><i class="fa-solid icon-edit fa-pen-to-square"
                            id="edit-role-icon" ></i></span>
                        <span onclick="delete_lang('${value.id}')"><i class="fa-solid icon-remove fa-trash-can"
                            id="delete-role"></i></span>
                    </li>`
                );
            });
        },
    });

    function create_lang() {
        var name = $("#lang_name").val();
        var status = $("#lang_status").val();
        $.ajax({
            url: "http://localhost:57678/Languages",
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'name': name, 'status': status }),
            success: function (data) {
                location.reload();
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }

    function edit_lang(id) {
        var name = $("#edit_lang_name").val();
        var status = $("#edit_lang_status").val();
        $.ajax({
            url: "http://localhost:57678/Languages/",
            type: "PUT",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: JSON.stringify({ 'id': id, 'name': name, 'status': status }),
            success: function (data) {
                location.reload();
            },
            error: function (e) {
                alert("fail")
                console.log('Error in Operation');
            }
        });
    }

    function edit_lang_form(id) {
        $.ajax({
            type: 'GET',
            url: "http://localhost:57678/languages/"+id,
            success: function (data) {
                $('#lang_form').attr('style', 'display: none');
                $('#create_lang').append(
                    `<div class="card">
                        <div class="card-header">
                            <h4>Edit Language</h4>
                        </div>
                        <input type="hidden" name="_token"
                                value="Yp9sxRJTsEf2i1XRvuWcGhTaEWLKpgsR2EZwHKQK">
                        <div class="card-body">
                            <div class="row ">
                                <input type="hidden" id="id"  />
                                <div class="col-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Name</label>
                                        <input type="text" name="name" class="form-control " id="edit_lang_name" required=""
                                                maxlength="50" value="`+ data.name +`">
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label>Status</label>
                                            <select id="edit_lang_status">

                                            </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-right">
                            <button class="btn btn-primary" type="submit" onclick="edit_lang('${data.id}')">Submit</button>
                        </div>
                    </div>`
                );
                if (data.status == 'true') {
                    $('#edit_lang_status').append(
                        `<option value="true" selected>Active</option>
                        <option value="false">De-Active</option>`
                    );
                } else {
                    $('#edit_lang_status').append(
                        `<option value="true">Active</option>
                        <option value="false" selected>De-Active</option>`
                    )
                }
            },
        });

    }

    function delete_lang(id) {
        $.ajax({
            url: "http://localhost:57678/Languages/"+id,
            type: "delete",
            contentType: "application/json",
            success: function () {
                location.reload();
            }
        })
    }
</script>

